
html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	
}



p {
	font-size: 22px;
	padding-left: 200px;
	padding-right: 200px;
	min-width: 300px;
}
span {
	font-weight: bold;
}

.totheright {
	padding-left: 785px;
}



.row1, .row2, .row3, .row4 {
	height: 25%;
	padding: 0 200px;
}

.pic1, .pic2, .pic3, .pic4, .pic5, .pic6, .pic7, .pic8, .pic9, .pic10, .pic11, .pic12, .pic13, .pic14, .pic15, .pic16 {
	width: 23%;
	display: inline-block;
	
}

img {
	max-width: 150px;
	padding: 0 50px;
}

.border {
	border-bottom: 1px solid black;
	padding-top: 50px;
	width: 60%;
	margin: 0 auto;
	
}
.borderdad {
	width: 100%;
	text-align: center;
	
}

.imagine {
	font-size: .9em;

}

.links {
	text-align: center;
}
a {
	text-decoration: none;
}